.form__deposito{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.adherir__content{
    position: relative;
    background: #0a0a0a49;
    width: 90%;
    height: 60vh;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}
.adherir__btn{
    background: #4e0fdf;
    border: none;
    color: #ffff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 21px -8px rgba(0,0,0,0.75);
}
.deposito__select{
    background: #0000;
    border:0.10rem solid #cc01bb;
    color: #ffff;
    font-size: 1rem;
    border-radius: 0.4rem;
    outline: none;
}
.deposito__option{
    color: #000000;
}