.section__login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container__login{
    background: rgba(10, 10, 10, 0.288);
    width: 80%;
    height: 70vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    gap: 1.5rem;
}
.login__box{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 0.1rem;
}
.login__h1{
    color: #ffff;
}
.login__label{
    align-self: flex-start;  
    color: #d8d5d5;;
}
.login__input{
    background: #0000;
    outline: none;
    border: none;
    padding-bottom: 0.1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #ffff;
    border-bottom: 0.1rem solid #cc01bb ;
}
.login__input:focus{
    border-bottom: 0.13rem solid #cc01bb ;
}
.login__btn{
    background: #cc01bb3d;
    border: 0.13rem solid #cc01bb;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: #ffff;
    font-weight: bold;
    cursor: pointer;
}
.login__link{
    color: #ffff;
}