
.pagar__content{
    position: relative;
    background: #0a0a0a49;
    width: 90%;
    height: 50vh;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.card__content{
    width: 100%;
    padding: 1rem;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    overflow: auto;
}
.pagar__card{
    background: #ffff;
    height: 35vh;
    min-width: 15rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.comprobantes{
    justify-content: center;
    gap: 2rem;
}
.pagar__card-titulo{
    font-weight: bold;
}
.pagar__card-precio{
    font-size: 1.5rem;
}
.pagar__card-aviso{
    padding: 0 1rem;
    color: #ffff;
    filter: drop-shadow(0 0 0.01rem black);
}
.al-dia{
background: #29bf12;
}
.vencido{
    background: #d62828;
}
.pagar__card-btn{
    color: #3a0ca3;
    border: 0.1rem solid #3a0ca3;
    padding: 0 1rem;
    font-weight: bold;
    background: #390ca32f;
    border-radius: 0.5rem;
}