.section__registro{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form__registro{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.registro__h1{
    color: #ffff;
}
.container__registro{
    background: #0a0a0a49;
    width: 90%;
    height: 80vh;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.registro__btn{
    background: rgb(198,5,174);
    background: linear-gradient(45deg, rgba(0,13,190,1) 0%, rgba(198,5,174,1) 100%);
    width: 10rem;
}
