@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body{
    background: rgb(198,5,174);
    background: linear-gradient(45deg, rgba(198,5,174,1) 0%, rgba(0,13,190,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
section{
    height: 100vh;
    background: url(/img/fondo.png);
    position: relative;
}
.section__container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: #ffff;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.login__link{
    color: #ffff;
}
.link{
    color: #ffff;
    text-decoration:underline;
    font-weight: bold;
}
.salir__btn{
    border-radius: 0.3rem;
    background: #d62828;
    padding: 0 0.5rem;
    font-weight: bold;
    color: #ffff;
}
.section__h2{
    color: #ffff;
}
.section__nav{
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.section__btn{
    background: #0a0a0a49;
    width: 100%;
    display: flex;
    height: 4rem;
    border-radius: 0.5rem;
    overflow: hidden;
}
.section__linea-btn{
    background: #1565c0;
    width: 5%;
}
.section__btn-text{
    width: 95%;
    color: #ffff;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.volver__btn{
    position: absolute;
    bottom: -4rem;
    padding: 0.1rem 1rem 0.1rem 0.5rem;
    color: #ffff;
    font-weight: bold;
    font-size: 1.5rem;
    background: #3a0ca3;
    border-radius: 0.3rem;
    box-shadow: 10px 10px 21px -8px rgba(0,0,0,0.75);
}
.section__box{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.section__label{
    align-self: flex-start;
    color: #d8d5d5;
}
.section__input{
    background: #0000;
    color: #ffff;
    padding-bottom:0.5rem ;
    border: none;
    outline: none;
    padding-bottom: 0.1rem;
    border-bottom: 0.1rem solid #cc01bb; ;
}
.section__input:focus{
    border-bottom: 0.13rem solid #cc01bb ;
}